.level-table th  {
    font-weight: normal;
}

.level-table td, .level-table th  {
    text-align:center;
    height: 8.5vh;
}

.level-header {
    padding-bottom: 1vh;
}

.level-sum-sum, .level-header-sum {
    width:39%;
}

.level-sum-time, .level-header-time {
    width:27%;
}

.level-sum-score, .level-header-score {
    width:34%;
}

td.level-sum-score {
    height: 4vh;
    font-size: 16px; /*anders worden de sterren verschoven weergegeven*/
}