html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 5vh;
    overflow: hidden;
}

#outer-container {
    margin: auto;
    height: 100vh;
    width: 77vh;
    background-color: midnightblue;
}

#header {
    height: 7vh;
    border-bottom: 1px white;
    padding-left: 1.5vh;
    padding-top: 0.5vh;
    position:fixed;
    z-index: 10000;
}

/*combination of height 100% and overflow-y
 auto makes innercontainer scrollable and only
 show scrollbar when needed*/
#inner-container {
    padding-top: 7vh;
    position: relative;
    height: 100%;
    overflow:scroll;
}

.home-link {
    width: 6vh;
    height: 6vh;
}