.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.arrow {
    display:inline-block;
    position:relative;
    width: 0;
    height: 0;
    top:-0.4vh;
}

.arrow-at-left {
    right:-0.5vh;
}

.arrow-at-right {
    left:-0.5vh;
}

.arrow-up {
    border-left: 0.8vh solid transparent;
    border-right: 0.8vh  solid transparent;
    border-bottom: 1.2vh solid white;
}

.arrow-down {
    border-left: 0.8vh  solid transparent;
    border-right: 0.8vh  solid transparent;
    border-top: 1.2vh  solid white;
}