.sum-sum {
    position:relative;
    margin:auto;
    width: 100vw;
    max-width: 60vh;
    text-align:center;
    letter-spacing: 1.5vh;
    font-size: 7vh;
    line-height: 9vh; /*to give room for check icon*/
}

/*
.sum-sum.sum-previous {
    top: 5vh;
    font-size: 6vh;
}
*/

.sum-sum > span {
    display: inline-block;
    position:absolute;
}

.sum-sum > span > span {
    display: inline-block;
    position: relative;
}

.sum-question {
    letter-spacing: 0.5vh;
    right: 50%;
    margin-right: 4vh;
}

.sum-equal {
    left: 50%;
    margin-left: -2vh;
}

.sum-answer {
    letter-spacing: 0.5vh;
    left: 50%;
    margin-left: 4vh;
}

.sum-feedback {
    height: 6vh;
    width: 6vh;
    background-size: 6vh 6vh;
}

.sum-false {
    position: absolute;
    color:red;
    font-size: 12vh;
    top:-1vh;
}

.sum-correct {
    margin-left: 2vh;
    background-image: url('img/correct.svg');
}

.sum-help {
    margin:auto;
    width: 85vw;
    max-width: 63vh;

}

.sum-nav {
    text-align: center;
    margin:auto;
    max-width: 13vh;
    width: 20vw;
    color:white;
    background-color:gray;
    border: 0.5vh solid #191970;
    padding-top: 0.9vh;
}

.sum-controls {
    margin: 0 15%;
    width:70%;
    border: 0.3vh solid #191970;
}

/*als ik overflow-y heb aanstaan op
auto heb ik problemen met doorschuiven naar
andere regel*/
.sum-controls div {
    float:left;
    height:10vh;
    line-height:10vh;
    width:33.3333333%;
    text-align: center;
    background-color: grey;
    border: 0.3vh solid #191970;
    cursor:hand;

}

.sum-controls .null {
    width: 66.6666666%;
}

.sum-controls .back {
    width:33.3333333%;
    font-weight:bold;
}
