<template name="layout_no_scroll">
    <div id="outer-container">
        <div id="header">
            <div id="header-left">
                <a href="/" >
                    <img class="home-link" src="img/home.svg" alt="home">
                </a>
            </div>
            <div id="header-right">
                {{> loginButtons}}
            </div>
        </div>
        <div id="inner-container" class="no-scroll">
            {{> yield}}
            {{> popup}}
        </div>
    </div>

</template>